* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  background: linear-gradient(
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.7)
  );
  padding: 2.6%;
}

.navBtn {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
}

.home {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  color: black;
  padding: 0.6% 1.5%;
}

.imageDiv {
  background-image: url(https://e0.pxfuel.com/wallpapers/850/763/desktop-wallpaper-construction-site-construction-work.jpg);
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.cardDiv {
  height: 500px;
  width: 100%;
}

.card {
  margin: 2%;
  width: 29%;
  height: 90%;
}

.textImage {
  padding: 2%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

p {
  width: 45%;
  display: inline-block;
  color: white;
}
.lastImage {
  width: 45%;
  margin: 1%;
}
